**/.pytest_cache/
**/.idea/
**/.mypy_cache/
**/.DS_Store
**/.obsidian*
**/env/
**/bert*
**/longformer*
**/gpt2*
**/bloom*
**/__pycache__/
**/.ipynb_checkpoints
**/python*/
**/.tmp-compiling
**/essay.json
